@charset "UTF-8";
body{
  background-color: #88a4bf;
}
h2{
  margin-top: 30px;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
.outline{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Noto Serif JP', serif;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Noto Serif JP', serif;
}
.b{
  background : #f1f1f1 ;
  padding : 0.1em 0.5em ;
  border : solid 1px #b3b3b3 ;
  border-top : solid 1px #e0e0e0 ;
  border-bottom : solid 1px #717171 ;
}
.ap{
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
.pp{
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
a{
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
footer{
  background: #333;
  text-align: center;
  padding: 26px; 0;
}
footer p{
  color: #fff;
  font-size: 0.875rem;
}
@media (max-width:600px) {
  .outline{
    font-size: 11px;
  }
}
